@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700;800&display=swap');
body {
    font-family: 'BioRhyme', serif;
    margin: 0;
    padding: 25rem;
    height: 70vh;
    box-sizing: border-box;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul, a{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-radius: 20px;
}
.wrapper .side-bar{
    background-color: rgb(78, 77, 77);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 30px;
    color: white;
}
.wrapper .logo{
    font-size: 32px;
    font-weight: bold;
}
.wrapper .student{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.profile-pic img{
    width: 100px;
    border-radius: 20%;
} 
.student .fullname{
    font-size: 18px;
    font-weight: bold;
}
.student .grade{
    color: rgb(188, 188, 188);
}
.links{
    margin-top: 100px;
    margin-left: 45px;
}
.links .link-item{
    margin-top: 40px;
}
.links .link-item i{
    margin-right: 20px;
}
.links .link-item a{
    color:white;
    cursor: pointer;
}
.links .link-item a:hover{
    color: rgb(208, 147, 73);
    transition: all 0.4s ease-in;
}
.wrapper .main-content{
    color: black;
    background-color: rgb(227, 222, 222);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.main-content .top-bar{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
}
.top-bar .left, .right{
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 0px 50px;
}
.left .date_time{
    background-color: rgb(198, 196, 199);
    padding: 10px;
    border-radius: 8px;
}
.left .week-day{
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}
.right input{
    outline:none;
    padding: 12px;
    width: 130px;
    border-radius: 10px;
    border: 1px solid #9a9d9f;
}
.right input:hover{
    width: 180px;
    padding: 15px;
    transition: all 0.6s ease-in-out;
}
.right input:focus{
    border: 2px solid rgb(54, 54, 82);
    transition: all 0.6s ease-in-out;
}

.right a{
    color: black;
    cursor: pointer;
}
.right a:hover{
    color:rgb(118, 117, 118);
    transition: all 0.3s ease;
}
